<!-- Footer -->
<footer class="template-footer">

	<div class="container">
        <div class="widgetprofile-left">
            {{widget('content', 'widgetcontentleft', {content: '<p>Lorem ipsum dolor sit amet</p>'})|raw}}
        </div>
        <div class="widgetprofile-right">
            {{widget('profile', 'headerprofilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
	</div>

</footer>
<!-- End Footer -->
